.bold
{
    font-weight: bold;
}
.center
{
    text-align: center;
}
.w-100
{
    width: 100%;
}
.align-center
{
    align-items: center;
}
.test-1
{
    padding: 5%;
    border: 1em solid #000000;
    border-radius: 20px;
}
.bg-dark
{
    background-color: #000000;
}
.text-light
{
    color: whitesmoke;
}
.m-0
{
    margin: 0px;
}
.p-2
{
    padding: 0.75rem;
}